In [36]:
import pandas as pd    

url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

dados     # mostra todo o conteúdo

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000

In [35]:
dados.info()            #mostra informações sobre os dados da tabela

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB

In [51]:
#dados["Valor"][0]     #mostra o primeiro conteúdo da coluna "Valor"

In [15]:
#dados["Valor"][0].split()    #separa um objeto usando o espaço entre as strings como referência, criando uma array com strings

['R$', '7.000.000']

In [17]:
#dados["Valor"].str.split()  #causa separação do Objeto "Valor". Precisa usar ".str" para converter um objeto em string

0          [R$, 7.000.000]
1          [R$, 3.700.000]
2            [R$, 380.000]
3            [R$, 685.000]
4            [R$, 540.000]
               ...
10003        [R$, 665.000]
10004      [R$, 2.300.000]
10005      [R$, 1.050.000]
10006    [R$, 2.200, /Mês]
10007        [R$, 270.000]
Name: Valor, Length: 10008, dtype: object

In [52]:
dados["Valor"].str.split(expand = True)  #organiza a array em uma tabela

               0
0      7.000.000
1      3.700.000
2        380.000
3        685.000
4        540.000
...          ...
10003    665.000
10004  2.300.000
10005  1.050.000
10006      2.200
10007    270.000

[10008 rows x 1 columns]

In [23]:
dados["Valor"].str.split(expand = True)[2].unique()   #mostra os valores das strings da treceira coluna

array([None, '/Mês', '/Ano', '/Dia'], dtype=object)

In [28]:
len(dados["Valor"].str.split(expand = True)[1].unique())   #mostra quantas strings existem na segunda coluna

1038

In [45]:
dados[["Moeda", "Valor_Moeda", "Tipo_Anuncio"]] = dados["Valor"].str.split(expand = True) #Cria mais três string no Objeto dados

ValueError: ignored