In [8]:
import pandas as pd    

url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

dados.info()            #mostra informações sobre os dados da tabela

#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB

In [11]:
dados["Valor"][0]     #mostra o primeiro conteúdo da coluna "Valor"

'R$ 7.000.000'

In [15]:
dados["Valor"][0].split()    #separa um objeto usando o espaço entre as strings como referência, criando uma array com strings

['R$', '7.000.000']

In [17]:
dados["Valor"].str.split()  #causa separação do Objeto "Valor". Precisa usar ".str" para converter um objeto em string

0          [R$, 7.000.000]
1          [R$, 3.700.000]
2            [R$, 380.000]
3            [R$, 685.000]
4            [R$, 540.000]
               ...
10003        [R$, 665.000]
10004      [R$, 2.300.000]
10005      [R$, 1.050.000]
10006    [R$, 2.200, /Mês]
10007        [R$, 270.000]
Name: Valor, Length: 10008, dtype: object

In [21]:
from pandas.core.window import expanding
dados["Valor"].str.split(expand = True)  #organiza a array em uma tabela

        0          1     2
0      R$  7.000.000  None
1      R$  3.700.000  None
2      R$    380.000  None
3      R$    685.000  None
4      R$    540.000  None
...    ..        ...   ...
10003  R$    665.000  None
10004  R$  2.300.000  None
10005  R$  1.050.000  None
10006  R$      2.200  /Mês
10007  R$    270.000  None

[10008 rows x 3 columns]

In [23]:
dados["Valor"].str.split(expand = True)[2].unique()   #mostra os valores das strings da treceira coluna

array([None, '/Mês', '/Ano', '/Dia'], dtype=object)